{% extends "base.html" %}
{% block title %}{{ block.super }} :: Cluster{% endblock %}
{% block menu %}
    {{ block.super }}
    <h3>
        <a href="../cluster">Clusters</a>
        <a href="../recommend">Recommend</a>
        <a href="../metrics">Metrics</a>
    </h3>
{% endblock %}
{% block content %}

{% block left_menu %}
<a href="launch">Launch</a>
<a href="list">List</a>
<a href="terminate">Terminate</a>
{% endblock %}

{% block main_content %}
Cluster template
{% endblock %}

{% endblock %}
