<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.udc.psi14.lab08trabazo" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NetActiv"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SocketTask"
            android:label="@string/title_activity_socket_task" >
        </activity>
        <activity
            android:name=".PostActiv"
            android:label="@string/title_activity_post" >
        </activity>
        <activity
            android:name=".PostTask"
            android:label="@string/title_activity_post_task" >
        </activity>
        <activity
            android:name=".JsonTask"
            android:label="@string/title_activity_json_task" >
        </activity>
        <activity
            android:name=".XmlTask"
            android:label="@string/title_activity_xml_task" >
        </activity>
        <activity
            android:name=".ServerActiv"
            android:label="@string/title_activity_server" >
        </activity>
    </application>

</manifest>
