{% extends "dashboard/dashboard.html" %}

{% block title %} {{ block.super }} :: recommend{% endblock %}

{% block header_menu_list %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard:index' %}">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard:cluster-list' %}">Cluster</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'dashboard:recommend' %}">Recommend</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard:result' %}">Result</a>
  </li>
</ul>
{% endblock %}

{% block main_one %}
<div class="row">
  <div class="col-md-12 ">
    <h1>Compute recommendations</h1>
  </div>
</div>

<!-- load data && compute unique items -->
<div class="row">
  <div class="col-md-12 ">
    <h3>First step</h3>
    <p>First step loads needed data from storage (S3) to the cluster and computes unique items. Choose both dataset size and cluster id.</p>
  </div>
  <div class="col-auto ">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="load-dataset-size">Movielens dataset size</label>
          <select class="form-control" id="load-dataset-size" name="load-dataset-size">
            <option>100k</option>
            <option>1M</option>
          </select>

          <label for="load-cluster-id">Cluster Id</label>
          <input type="text" class="form-control" id="load-cluster-id" name="load-cluster-id" placeholder="Starts with j-" required>

          <label for="load-number-shards">Number shards</label>
          <input type="text" class="form-control" id="load-number-shards" name="load-number-shards" placeholder="number of splits" required>

          <label for="load-shard_prefix">Shard prefix</label>
          <input type="text" class="form-control" id="load-shard_prefix" name="load-shard_prefix" placeholder="shard" required>

        </div>
        <button type="submit" class="btn btn-primary" formaction="{% url 'dashboard:recommend-load-action' %}">Prepare data</button>
        <button type="submit" class="btn btn-primary" formaction="{% url 'dashboard:recommend-generate-shards-action' %}">Generate shards</button>
      </form>
  </div>
</div>
{% endblock %}
