<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'icons/favicon.png' %}">

    <title>TFG{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div>
        <div>
            {% block menu %}
            <h1>TFG</h1>
            {% endblock %}
        </div>
        <div>
            {% block content %}Base template{% endblock %}
        </div>
    </div>
  </body>
</html>
